* {
    box-sizing: border-box;
}
/*img {
    width: 100%;
}*/
body {
    background: black;
    /*background-image: url(../img/grey_wash_wall.png);*/
}

.logo {
    max-width: 80px;
    margin-bottom: 10px;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.dashlogo {
    max-width: 50px;
}

#go-back {
   padding: 5px;
    text-decoration: none;
    float: right;
    font-size: 20px;
    color: white;
    cursor: pointer;
    
}


#settings {
    padding: 5px;
    text-decoration: none;
    float: right;
    font-size: 20px;
    color: white;
    cursor: pointer;
}

#logout {
    padding: 5px;
    text-decoration: none;
    float: right;
    font-size: 20px;
    color: white;
    cursor: pointer;
    
}

.user-avatar img {
    display: block;
    margin-right: auto;
    margin-left: auto;
    max-width: 80px;
    border-radius: 50%;
}

.avatar {
    display: inline;
    border-radius: 50%;
    max-width: 60px;
    margin-right: 20px;
}

.follow {
    margin-left: 40px;
}

.avatar-label {
    font-weight: normal;
}

.btn {
    background: #800000;
    border: none;
    color: white;
}
a, 
a:hover {
    color: black;
}
.btn:hover {
    background: #800000;
    color: white;
}

.panel-heading {
    background: #e9edf0;
}

.panel-footer a {
    text-decoration: none;
}

.glyphicon-chevron-right {
    color: #417db4;
}

.btn-follow {
    margin-left: 10px;
}

h3 {
    padding-bottom: 15px;
}

ul {
    list-style: none;
}